<div class="container">
  <div class="game-controls">
    <div class="game-btn-play game-text" (click)="play(gameDelay.value)">Play</div>
    <input #gameDelay type="number" class="game-input game-text" value="{{gameService.delay}}">
    <div class="game-text">
      Player : <span class="game-number">{{gameService.playerCounts}}</span>
    </div>
    <div class="game-text">
      Computer : <span class="game-number">{{gameService.computerCounts}}</span>
    </div>
  </div>
  <div class="game">
    <app-rectangle *ngFor="let rectangle of initRectangles()"></app-rectangle>
  </div>
  <span style="position:absolute; color: #faff90; right: 0; bottom: 0">2019 - © Barushev EA</span>
</div>
